<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
    <ul>
        <li>Title: </li>
        <li>Firstname: </li>
        <li>Surname: </li>
        <li>Date of Birth: </li>
        <li>Telephone: </li>
        <li>Email: </li>
    </ul>
</body>
</html>